@import "tailwindcss";

:root {
  --background: #191919;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: url("/bg.png"); */
  background-size: 100%;
  font-family: sans-serif;
  font-weight: 300;
  /* animation: moveBackground 60s linear infinite; */
}

.bg-loop {
  /* filter: brightness(0.3); */
}

@keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -500%;
  }
}

/* 1. The width of the entire scrollbar */
.chat-container::-webkit-scrollbar {
  width: 6px;
}

/* 2. The background of the scrollbar area */
.chat-container::-webkit-scrollbar-track {
  background: transparent;
}

/* 3. The draggable handle */
.chat-container::-webkit-scrollbar-thumb {
  background-color: #cbd5e0; /* Subtle grey */
  border-radius: 10px; /* Round edges */
  border: 1px solid transparent; /* Padding effect */
}

/* 4. Handle on hover */
.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0;
}

/* Firefox Support */
.chat-container {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 transparent;
  width: 100%;
  content: " ";
  top: 0;
  left: 0;
  mask-image: linear-gradient(
    to top,
    transparent,
    black 10%,
    black 90%,
    black 10%,
    transparent
  );
}

.message {
  position: relative;
  padding: 12px 16px;
  border-radius: 16px;
  color: white;
  word-wrap: break-word;
}

/* LEFT (Agent) */
.message.left {
  background: #282828;
  border-top-left-radius: 4px;
  align-self: flex-start;
}

.message.left::after {
  content: "";
  position: absolute;
  top: 0;
  scale: 1 -1;
  left: -6px;
  width: 12px;
  height: 12px;
  background: #282828;
  border-top-left-radius: 12px;
}

/* RIGHT (User) */
.message.right {
  background: #606060;
  border-top-right-radius: 4px;
  align-self: flex-end;
}

.message.right::after {
  content: "";
  position: absolute;
  top: 0;
  scale: 1 -1;
  right: -6px;
  width: 12px;
  height: 12px;
  background: #606060;
  border-top-right-radius: 12px;
}
